html {
    font-size: 16px;
}

.container {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3.2rem;
    line-height: 1.1;
    font-family: "Merriweather", serif;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    line-height: 1.6;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
}

h3 {
    font-size: 1.8rem;
    line-height: 1.2;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

h4 {
    font-size: 1.6rem;
    line-height: 1.2;
    font-family: "Merriweather", serif;
    font-family: "Ubuntu", sans-serif;

    font-weight: 600;
}

h5 {
    font-size: 1.1rem;
    line-height: 1.2;
    font-family: "Lora", serif;
    font-weight: 400;
}

p {
    font-size: 1.1rem;
    line-height: 1.2;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    background-color: #011126;
    z-index: 5;
}

header .container {
    height: 2rem;
    padding: .5rem 1.5%;
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    color: #F29544;
    font-size: 1.6rem;
    line-height: 1.2;
    font-family: "Lora", serif;
    font-weight: 500;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding-left: 2.5rem;
}

header nav a {
    color: #edf7fc;
    font-size: 1.2rem;
    line-height: 1.2;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

header a:hover {
    transition: .3s;
    color: #F29544;
}

header a:active {
    /* transition: .3s; */
    color: #edf7fc;
}

@media only screen and (max-width:550px) {
    header .container {
        height: 3.5rem;
        flex-direction: column;
    }

    header nav ul li {
        padding-left: 0;
        margin: 0 .5rem;
    }
}

/* Main */

main {
    padding-top: 3rem;
}

@media only screen and (max-width: 550px) {
    main {
        padding-top: 4.5rem;
    }
}

/* Quote */

.quote .container {
    align-items: center;
    padding: 5% 15%;
    justify-content: center;
    min-height: 12.5rem;
    background-image: url("../images/dune-quote.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 75%;
}

.quote .container .img-container {
    min-width: 10rem;
    max-width: 15rem;
    height: auto;
}

.quote .container .img-container img {
    width: 100%;
    opacity: .8;
}

.quote span {
    padding-left: 4rem;
    color: #EDF7FC;
    opacity: .9;
    text-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

@media only screen and (max-width: 1000px) {
    .quote span {
        padding-left: 2rem;
    }

    .quote h1 {
        font-size: 2.5rem;
    }

    .quote .container .img-container {
        min-width: 5rem;
        max-width: 8rem;
        height: auto;
    }
}

@media only screen and (max-width: 770px) {
    .quote span {
        padding-left: 0;
    }

    .quote h1 {
        font-size: 1.8rem;
    }

    .quote h3 {
        font-size: 1.3rem;
    }

    .quote .img-container {
        display: none;
    }
}

/* Goals */

.goals {
    padding: 2% 4%;
    background-image: linear-gradient(#132938, #011126);
}

.chrono {
    flex-wrap: wrap;
    justify-content: center;
}

.goals .content {
    min-height: 10rem;
    background-image: linear-gradient(white, #EDF7FC);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: .8%;
    min-width: 15rem;
    max-width: 20rem;
    flex: 1;
    color: #011126;
    margin: .7%;
    border-radius: .5rem;
}

.goals .container .numbering {
    align-items: center;
    min-height: 4rem;
}

.goals span {
    float: left;
    font-size: 3rem;
    font-weight: 800;
    padding-left: 1rem;
    font-family: "Ubuntu", sans-serif;
    color: #F29544;
}

.goals h4 {
    padding-left: 2rem;
    text-align: left;
}

.goals h5 {
    width: 90%;
    margin: 0 auto;
    line-height: 1.2;
    font-weight: 300;
    position: relative;
    padding: 1.5rem 0;
}

@media only screen and (max-width:560px) {
    .goals .content {
        min-width: 100%;
        margin: .3rem;
    }

    .goals .content {
        min-height: 0;
    }

    .goals span {
        font-size: 2.5rem;
    }
    
    .goals h4 {
        padding-left: 1.5rem;
        text-align: left;
    }
    
    .goals h5 {
        padding: .5rem 0;
    }
}

/* Atreides */

.atreides .container {
    padding: 2% 8%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 3rem;
    color: #011126;
}

.atreides .content {
    align-items: center;
    min-width: 25rem;
    max-width: 35rem;
}

.image-container {
    width: 80%;
    margin-bottom: 1.5rem;
}

.image-container img {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.atreides h4 {
    text-align: center;
}
.atreides span {
    font-weight: 400;
    color: #F29544;
}

.atreides h5 {
    margin-top: .5rem;
    width: 70%;
    text-align: center;
}

@media only screen and (max-width:550px) {
    .image-container {
        margin-bottom: .5rem;
    }

    .atreides .container {
        row-gap: 1.5rem;
    }

    .atreides h5 {
        margin-top: 0;
    }
    
    .atreides .content {
        min-width: 0;
    }
}

/* Footer */
footer {
    width: 100%;
    margin-top: 1.5rem;
}

footer .content {
    gap: 1rem;
    padding: 1.2rem 2rem;
    text-align: center;
    background-image: linear-gradient(#132938, #011126);
    color: #EDF7FC;
}

footer span {
    font-weight: 600;
    padding-bottom: 1rem;
}

footer .rights {
    font-style: italic;
    font-size: .875rem;
}